:root {
  font-family: Inter, system-ui, Arial, sans-serif;
  color: var(--o-ground--text-default);
  background-color: var(--o-ground--background-default);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--o-ground--text-contrast);
}

html {
  overflow: hidden;
}

.app-logo {
  position: relative;
  cursor: pointer;

  &::after {
    content: ' ';
    position: absolute;
    inset: -8px -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    background-color: red;
    opacity: 0.0001;
  }
}

:root[data-theme="light"] .app-logo {
  filter: brightness(0.1);
}
