@import 'theme/index';
@import 'components/index';
@import 'elements/index';
@import 'constants';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-family: Inter, system-ui, sans-serif;
}

:root {
  font-family: Inter, system-ui, sans-serif;
  color: var(--text-color);
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}