.o-icon {
  border-radius: 2px;

  &__detail,
  &__shadow,
  use {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
  }

  &__shadow {
    fill: var(--current-background-color);
  }
}