.o-tab-menu {
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  --shadow-right: 0;
  --shadow-left: 0;
  scroll-behavior: smooth;

  &::-webkit-scrollbar { display: none }

  &::before,
  &::after {
    display: block;
    content: ' ';
    min-height: 100%;
    min-width: 16px;
    position: sticky;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 16px 100%;
    transition: background-position ease-in-out 250ms;
    pointer-events: none;
  }

  &::before {
    left: 0;
    margin-right: -16px;
    background-image: linear-gradient(to right, var(--current-background-color), transparent);
    background-position-x: calc(-16px * (1 - var(--shadow-left, 0)));
  }

  &::after {
    right: 0;
    background-image: linear-gradient(to left, var(--current-background-color), transparent);
    background-position-x: calc(16px * (1 - var(--shadow-right, 0)));
    margin-left: -16px;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__tab {
    list-style: none;

    a {
      display: flex;
      gap: 8px;
      padding: 8px 12px;
      font-weight: 500;
      cursor: pointer;
      transition: 250ms color;
      color: var(--disabled-color);

      @media (hover: hover) {
        &:hover {
          color: var(--text-color);
        }
      }

      &:focus-visible {
        color: var(--text-color);
        outline: none;
        text-shadow: 0 0 2px var(--primary-color);
      }
    }

    &_active a {
      color: var(--primary-color);

      @media (hover: hover) {
        &:hover {
          color: var(--primary-shadow-color);
        }
      }
    }

    &_disabled a {
      &, &:hover {
        color: var(--border-color);
        cursor: default;
      }
    }
  }

  & > li[role=none] {
    height: 2px;
    border-radius: 1px;
    display: block;
    position: absolute;
    width: max(100%, var(--content-width, 0));
    bottom: 0;
    left: 0;
    background: var(--border-color);
    pointer-events: none;

    &::before {
      display: block;
      height: 2px;
      border-radius: 1px;
      content: ' ';
      background: var(--primary-color);
      transition: var(--duration, 0) ease-in-out;
      width: var(--width, 0);
      left: calc(var(--left, 0) + var(--width, 0) / 2);
      translate: calc(var(--width, 0) / 2 * -1);
      position: relative;
    }
  }
}