:root {
  --o-emerald-05: #ECFDF5;
  --o-emerald-10: #D1FAE5;
  --o-emerald-20: #A7F3D0;
  --o-emerald-30: #6EE7B7;
  --o-emerald-40: #34D399;
  --o-emerald-50: #10B981;
  --o-emerald-60: #059669;
  --o-emerald-70: #047857;
  --o-emerald-80: #065F46;
  --o-emerald-90: #064E3B;
  --o-emerald-95: #022C22;
  --o-green-05: #F0FDF4;
  --o-green-10: #DCFCE7;
  --o-green-20: #BBF7D0;
  --o-green-30: #86EFAC;
  --o-green-40: #4ADE80;
  --o-green-50: #22C55E;
  --o-green-60: #16A34A;
  --o-green-70: #15803D;
  --o-green-80: #166534;
  --o-green-90: #14532D;
  --o-green-95: #052E16;
  --o-lime-05: #F7FEE7;
  --o-lime-10: #ECFCCB;
  --o-lime-20: #D9F99D;
  --o-lime-30: #BEF264;
  --o-lime-40: #A3E635;
  --o-lime-50: #84CC16;
  --o-lime-60: #65A30D;
  --o-lime-70: #4D7C0F;
  --o-lime-80: #3F6212;
  --o-lime-90: #365314;
  --o-lime-95: #1A2E05;
  --o-red-05: #FEF2F2;
  --o-red-10: #FEE2E2;
  --o-red-20: #FECACA;
  --o-red-30: #FCA5A5;
  --o-red-40: #F87171;
  --o-red-50: #EF4444;
  --o-red-60: #DC2626;
  --o-red-70: #B91C1C;
  --o-red-80: #991B1B;
  --o-red-90: #7F1D1D;
  --o-red-95: #450A0A;
  --o-orange-05: #FFF7ED;
  --o-orange-10: #FFEDD5;
  --o-orange-20: #FED7AA;
  --o-orange-30: #FDBA74;
  --o-orange-40: #FB923C;
  --o-orange-50: #F97316;
  --o-orange-60: #EA580C;
  --o-orange-70: #C2410C;
  --o-orange-80: #9A3412;
  --o-orange-90: #7C2D12;
  --o-orange-95: #431407;
  --o-amber-05: #FFFBEB;
  --o-amber-10: #FEF3C7;
  --o-amber-20: #FDE68A;
  --o-amber-30: #FCD34D;
  --o-amber-40: #FBBF24;
  --o-amber-50: #F59E0B;
  --o-amber-60: #D97706;
  --o-amber-70: #B45309;
  --o-amber-80: #92400E;
  --o-amber-90: #78350F;
  --o-amber-95: #451A03;
  --o-yellow-05: #FEFCE8;
  --o-yellow-10: #FEF9C3;
  --o-yellow-20: #FEF08A;
  --o-yellow-30: #FDE047;
  --o-yellow-40: #FACC15;
  --o-yellow-50: #EAB308;
  --o-yellow-60: #CA8A04;
  --o-yellow-70: #A16207;
  --o-yellow-80: #854D0E;
  --o-yellow-90: #713F12;
  --o-yellow-95: #422006;
  --o-teal-05: #F0FDFA;
  --o-teal-10: #CCFBF1;
  --o-teal-20: #99F6E4;
  --o-teal-30: #5EEAD4;
  --o-teal-40: #2DD4BF;
  --o-teal-50: #14B8A6;
  --o-teal-60: #0D9488;
  --o-teal-70: #0F766E;
  --o-teal-80: #115E59;
  --o-teal-90: #134E4A;
  --o-teal-95: #042F2E;
  --o-cyan-05: #ECFEFF;
  --o-cyan-10: #CFFAFE;
  --o-cyan-20: #A5F3FC;
  --o-cyan-30: #67E8F9;
  --o-cyan-40: #22D3EE;
  --o-cyan-50: #06B6D4;
  --o-cyan-60: #0891B2;
  --o-cyan-70: #0E7490;
  --o-cyan-80: #155E75;
  --o-cyan-90: #164E63;
  --o-cyan-95: #083344;
  --o-sky-05: #F0F9FF;
  --o-sky-10: #E0F2FE;
  --o-sky-20: #BAE6FD;
  --o-sky-30: #7DD3FC;
  --o-sky-40: #38BDF8;
  --o-sky-50: #0EA5E9;
  --o-sky-60: #0284C7;
  --o-sky-70: #0369A1;
  --o-sky-80: #075985;
  --o-sky-90: #0C4A6E;
  --o-sky-95: #082F49;
  --o-blue-05: #EFF6FF;
  --o-blue-10: #DBEAFE;
  --o-blue-20: #BFDBFE;
  --o-blue-30: #93C5FD;
  --o-blue-40: #60A5FA;
  --o-blue-50: #3B82F6;
  --o-blue-60: #2563EB;
  --o-blue-70: #1D4ED8;
  --o-blue-80: #1E40AF;
  --o-blue-90: #1E3A8A;
  --o-blue-95: #172554;
  --o-indigo-05: #EEF2FF;
  --o-indigo-10: #E0E7FF;
  --o-indigo-20: #C7D2FE;
  --o-indigo-30: #A5B4FC;
  --o-indigo-40: #818CF8;
  --o-indigo-50: #6366F1;
  --o-indigo-60: #4F46E5;
  --o-indigo-70: #4338CA;
  --o-indigo-80: #3730A3;
  --o-indigo-90: #312E81;
  --o-indigo-95: #1E1B4B;
  --o-violet-05: #F5F3FF;
  --o-violet-10: #EDE9FE;
  --o-violet-20: #DDD6FE;
  --o-violet-30: #C4B5FD;
  --o-violet-40: #A78BFA;
  --o-violet-50: #8B5CF6;
  --o-violet-60: #7C3AED;
  --o-violet-70: #6D28D9;
  --o-violet-80: #5B21B6;
  --o-violet-90: #4C1D95;
  --o-violet-95: #2E1065;
  --o-purple-05: #FAF5FF;
  --o-purple-10: #F3E8FF;
  --o-purple-20: #E9D5FF;
  --o-purple-30: #D8B4FE;
  --o-purple-40: #C084FC;
  --o-purple-50: #A855F7;
  --o-purple-60: #9333EA;
  --o-purple-70: #7E22CE;
  --o-purple-80: #6B21A8;
  --o-purple-90: #581C87;
  --o-purple-95: #3B0764;
  --o-fuchsia-05: #FDF4FF;
  --o-fuchsia-10: #FAE8FF;
  --o-fuchsia-20: #F5D0FE;
  --o-fuchsia-30: #F0ABFC;
  --o-fuchsia-40: #E879F9;
  --o-fuchsia-50: #D946EF;
  --o-fuchsia-60: #C026D3;
  --o-fuchsia-70: #A21CAF;
  --o-fuchsia-80: #86198F;
  --o-fuchsia-90: #701A75;
  --o-fuchsia-95: #4A044E;
  --o-pink-05: #FDF2F8;
  --o-pink-10: #FCE7F3;
  --o-pink-20: #FBCFE8;
  --o-pink-30: #F9A8D4;
  --o-pink-40: #F472B6;
  --o-pink-50: #EC4899;
  --o-pink-60: #DB2777;
  --o-pink-70: #BE185D;
  --o-pink-80: #9D174D;
  --o-pink-90: #831843;
  --o-pink-95: #500724;
  --o-rose-05: #FFF1F2;
  --o-rose-10: #FFE4E6;
  --o-rose-20: #FECDD3;
  --o-rose-30: #FDA4AF;
  --o-rose-40: #FB7185;
  --o-rose-50: #F43F5E;
  --o-rose-60: #E11D48;
  --o-rose-70: #BE123C;
  --o-rose-80: #9F1239;
  --o-rose-90: #881337;
  --o-rose-95: #4C0519;
  --o-neutral-05: #FAFAFA;
  --o-neutral-10: #F5F5F5;
  --o-neutral-20: #E5E5E5;
  --o-neutral-30: #D4D4D4;
  --o-neutral-40: #A3A3A3;
  --o-neutral-50: #737373;
  --o-neutral-60: #525252;
  --o-neutral-70: #404040;
  --o-neutral-80: #262626;
  --o-neutral-90: #171717;
  --o-neutral-95: #0A0A0A;
  --o-stone-05: #FAFAF9;
  --o-stone-10: #F5F5F4;
  --o-stone-20: #E7E5E4;
  --o-stone-30: #D6D3D1;
  --o-stone-40: #A8A29E;
  --o-stone-50: #78716C;
  --o-stone-60: #57534E;
  --o-stone-70: #44403C;
  --o-stone-80: #292524;
  --o-stone-90: #1C1917;
  --o-stone-95: #0C0A09;
}

:root {
  --o-primary-05: var(--o-orange-05);
  --o-primary-10: var(--o-orange-10);
  --o-primary-20: var(--o-orange-20);
  --o-primary-30: var(--o-orange-30);
  --o-primary-40: var(--o-orange-40);
  --o-primary-50: var(--o-orange-50);
  --o-primary-60: var(--o-orange-60);
  --o-primary-70: var(--o-orange-70);
  --o-primary-80: var(--o-orange-80);
  --o-primary-90: var(--o-orange-90);
  --o-primary-95: var(--o-orange-95);
  --o-surface-00: #FFFFFF;
  --o-surface-05: var(--o-stone-05);
  --o-surface-10: var(--o-stone-10);
  --o-surface-20: var(--o-stone-20);
  --o-surface-30: var(--o-stone-30);
  --o-surface-40: var(--o-stone-40);
  --o-surface-50: var(--o-stone-50);
  --o-surface-60: var(--o-stone-60);
  --o-surface-70: var(--o-stone-70);
  --o-surface-80: var(--o-stone-80);
  --o-surface-90: var(--o-stone-90);
  --o-surface-95: var(--o-stone-95);
  --o-surface-99: #000000;
}