.o-table {
  border-spacing: 0;
  width: 100%;

  tbody > tr > td,
  thead > tr > th {
    text-align: left;
    padding: 12px;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 1px 0 0 0;
  }

  thead > tr > th {
    font-weight: 500;
    border-width: 0 0 1px 0;
  }
}