.o--checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  &_labeled {
    padding: 4px;
  }

  &__input {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
  }

  &__box {
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--background-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    transition:
      background ease-in-out 150ms,
      border-color ease-in-out 150ms,
      box-shadow ease-in-out 150ms;
  }

  &:hover &__box {
    border-color: var(--primary-color);
  }

  &:focus-within &__box,
  &:active &__box {
    box-shadow: 0 0 0 2px var(--primary-shadow-color);
    border-color: var(--primary-color);
  }

  &__input:checked ~ &__box,
  &__input:indeterminate + &__box {
    background-color: var(--primary-color);
  }

  &__box .o-icon {
    margin: -1px;
    color: var(--background-color);
  }

  &__input:disabled ~ &__box {
    background-color: var(--surface-color);
    border-color: var(--border-color);
    box-shadow: 0 0 0 0 var(--primary-shadow-color);
  }

  &__input:disabled ~ &__box .o-icon {
    color: var(--border-color);
  }

  &__input:disabled ~ &__label {
    color: var(--border-color);
  }
}

.o-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  &_labeled { padding: 4px }
  &_disabled {
    cursor: not-allowed;
    color: var(--border-color);
  }

  &__input {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
  }

  &__box {
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--background-color);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    transition:
      background ease-in-out 150ms,
      border-color ease-in-out 150ms,
      box-shadow ease-in-out 150ms;
    color: var(--background-color);

    .o-icon {
      margin: -1px;
    }
  }

  &:hover:not(&_disabled) &__box,
  &:focus-within:not(&_disabled) &__box,
  &:active:not(&_disabled) &__box {
    border-color: var(--primary-color);
  }

  &:focus-within:not(&_disabled) &__box,
  &:active:not(&_disabled) &__box {
    box-shadow: 0 0 0 2px var(--primary-shadow-color);
  }

  &_checked &__box{
    background-color: var(--primary-color);
  }

  &_disabled &__box {
    background-color: var(--surface-color);
    color: var(--surface-color);
  }

  &_disabled:is(&_checked) &__box {
    color: var(--border-color);
  }
}